</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script>
$(".book-notes").hide();

    // Hide notes initially
    $(".show_notes").click(function () {
        $(".book-notes").slideToggle();
    }); 

    $(".book_notes").on("load", function() {
        $(this).hide();
    });

    $(".close_description").click(function () {
        $(".top-box").fadeToggle();
    }); 
    
</script>
</html>