</div>
</body>
<script>
    $(".show_notes").click(function () {
        $(".book-notes").slideToggle();
    }); 

    $(".close_description").click(function () {
        $(".top-box").fadeToggle();
    }); 
    
</script>
</html>