<form id="form" action="/add" method="POST">
    <div class="row">
        <div class="form-cover">
            <img class="image-picker" src="/images/covers/cover_placeholder_large.png" />
            <div class="form-cover-rating">
                <input type="range" min="0.5" max="5" step="0.5" value="0.5" class="rating-slider mt-2"
                    style="--val: 0.5" oninput="this.style='--val:'+this.value">
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <div class="input-group mb-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="isbn" placeholder="9780231535090">
                            <label for="isbn">ISBN</label>
                        </div>
                        <button class="btn btn-outline-secondary" type="button" id="isbn_find">Find</button>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="title" placeholder="Frontier Within" required>
                        <label for="title">Book title</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="author" placeholder="Kobo Abe" required>
                        <label for="title">Author</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="published" placeholder="2013">
                        <label for="title">Year published</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="url_openlibrary" placeholder="OL7924103W">
                        <label for="url_openlibrary">Open Library (Optional)</label>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="url_goodreads" placeholder="17070578">
                        <label for="title">Goodreads (Optional)</label>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="url_amazon" placeholder="B00APDGI80">
                        <label for="title">Amazon (Optional)</label>
                    </div>
                </div>
            </div>
            <div class="form-floating mb-3">
                <textarea class="form-control" placeholder="The book is about..." id="notes" style="height: 100px"
                    required></textarea>
                <label for="notes">Description</label>
            </div>
            <div class="form-floating mb-1">
                <textarea class="form-control" placeholder="The main character is a douchebag because..." id="notes"
                    style="height: 100px" required></textarea>
                <label for="notes">Notes</label>
            </div>
            <input class="hidden-image-picker" type="file" accept="image/*" style="display: none;" />
            <button class="hidden-submit-button" type="submit" style="display: none;">Submit</button>
            <!-- Hidden button -->
            <div class="col-12">
                <%- include('./top-box-nav.ejs') %>
            </div>
        </div>
    </div>
</form>