<div class="main-box">
    <div class="book-showcase">
        <a href=#><img class="cover-image rounded" href="/" src="/images/covers/cover_01_medium.jpg" alt="cover-01"></a>
    </div>
    <div class="book-showcase">
        <a href=#><img class="cover-image rounded" href="/" src="/images/covers/cover_01_medium.jpg" alt="cover-01"></a>
    </div>
    <div class="book-showcase">
        <a href=#><img class="cover-image rounded" href="/" src="/images/covers/cover_01_medium.jpg" alt="cover-01"></a>
    </div>
    <div class="book-showcase">
        <a href=#><img class="cover-image rounded" href="/" src="/images/covers/cover_01_medium.jpg" alt="cover-01"></a>
    </div>
</div>