<div class="main-box">
    <% locals.catalog.forEach(entry => { %>
        <div class="book-showcase">
            <a href="/book/<%= entry.get_param %>"><img class="cover-image rounded" href="/" src="/images/covers/<%= entry.cover_image_title %>_medium.jpg" alt="cover-01"></a>
        </div>
    <% }) %>
    <!-- <div class="book-showcase">
        <a href=#><img class="cover-image rounded" href="/" src="/images/covers/cover_01_medium.jpg" alt="cover-01"></a>
    </div>
    <div class="book-showcase">
        <a href=#><img class="cover-image rounded" href="/" src="/images/covers/cover_01_medium.jpg" alt="cover-01"></a>
    </div>
    <div class="book-showcase">
        <a href=#><img class="cover-image rounded" href="/" src="/images/covers/cover_01_medium.jpg" alt="cover-01"></a>
    </div>
    <div class="book-showcase">
        <a href=#><img class="cover-image rounded" href="/" src="/images/covers/cover_01_medium.jpg" alt="cover-01"></a>
    </div> -->
</div>