<div class="top-box-nav">
    <% if (locals.state && state == 'form') { %>
    <a href="#" class="save-btn" class="save-btn">save</a>
    <% } %> <% if (locals.state && state == 'book') { %>
        <a class="show-notes" href="javascript:void(0)">show notes</a>
        <% if (locals.book.url_openlibrary) { %>
        <a href="#">openlibrary</a>
        <% } %> <% if (locals.book.url_archive_org) { %>
        <a href="#">archive.org</a>
        <% } %> <% if (locals.book.url_goodreads) { %>
        <a href="#">goodreads</a>
        <% } %> <% if (locals.book.url_amazon) { %>
        <a href="#">amazon</a>
        <% } %>
    <% } %>
     
    <% if (locals.catalog) { %>
    <a class="close-description" style="margin-left: auto; margin-right:0px;" href="#">close</a>
    <% } %> <% if (!locals.catalog) { %>
    <a class="redirect-description" style="margin-left: auto; margin-right:0px;" href="/">close</a>
    <% } %>
</div>