<%- include('partials/header') %>
<div style="width: 100%; text-align: center">
  <a href="/"><h1>Book notes by sou</h1></a>
</div>
<%- include('partials/top-box-form') %> <% if (locals.catalog) { %> <%-
include('partials/main-box') %> <% } %> <%- include('partials/footer') %>
