<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Book notes by sou</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link rel="stylesheet" href="css/styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<body>
    <div class="container">
        <h1>Book notes by sou</h1>
        <div class="top-box">
            <div class="description-cover">
                <img src="/images/cover_01_large.jpg">
                <div class="description-rating">
                    <span>My rating:</span>
                    <span style="color:#FB2576;">★★★★☆</span>
                </div>
            </div>
            <div class="description">
                <div>
                    <h2 style="display:inline">Snow Country</h2>
                    <h3 style="display:inline">by Yasunari Kawabata</h3>
                </div>
                <div class="description-info">
                    <p>published: 2023-08-02</p>
                    <p>ISBN: 0806541229</p>
                    <p>Date read: 2023-08-02</p>
                </div>
                <p class="description-summary">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                </p>
                <div class="description-links">
                    <a class="show_notes" href="#">show notes</a>
                    <span>|</span>
                    <a href="#">openlibrary</a>
                    <span>|</span>
                    <a href="#">goodreads</a>
                    <span>|</span>
                    <a href="#">amazon</a>
                    <a class="close_description" style="margin-left:auto;" href="#">close description box</a>
                </div>
                <div class="book-notes">
                    <h3>My Notes</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Proin tortor purus platea sit eu id nisi litora libero. Neque
                        vulputate consequat ac amet augue blandit maximus aliquet congue. Pharetra vestibulum posuere
                        ornare faucibus fusce dictumst orci aenean eu facilisis ut volutpat commodo senectus purus
                        himenaeos fames primis convallis nisi.

                        Phasellus fermentum malesuada phasellus netus dictum aenean placerat egestas amet. Ornare taciti
                        semper dolor tristique morbi. Sem leo tincidunt aliquet semper eu lectus scelerisque quis.
                        Sagittis vivamus mollis nisi mollis enim fermentum laoreet.

                        Curabitur semper venenatis lectus viverra ex dictumst nulla maximus. Primis iaculis elementum
                        conubia feugiat venenatis dolor augue ac blandit nullam ac phasellus turpis feugiat mollis. Duis
                        lectus porta mattis imperdiet vivamus augue litora lectus arcu. Justo torquent pharetra volutpat
                        ad blandit bibendum accumsan nec elit cras luctus primis ipsum gravida class congue.

                        Vehicula etiam elementum finibus enim duis feugiat commodo adipiscing tortor tempor elit. Et
                        mollis consectetur habitant turpis tortor consectetur adipiscing vulputate dolor lectus iaculis
                        convallis adipiscing. Nam hendrerit dignissim condimentum ullamcorper diam morbi eget
                        consectetur odio in sagittis.</p>
                </div>
            </div>
        </div>
        <div class="main-box">
            <div class="book-showcase">
                <a href=#><img class="cover-image rounded" href="/" src="/images/cover_01_medium.jpg"
                        alt="cover-01"></a>
            </div>
            <div class="book-showcase">
                <a href=#><img class="cover-image rounded" href="/" src="/images/cover_01_medium.jpg"
                        alt="cover-01"></a>
            </div>
            <div class="book-showcase">
                <a href=#><img class="cover-image rounded" href="/" src="/images/cover_01_medium.jpg"
                        alt="cover-01"></a>
            </div>
            <div class="book-showcase">
                <a href=#><img class="cover-image rounded" href="/" src="/images/cover_01_medium.jpg"
                        alt="cover-01"></a>
            </div>
            <div class="book-showcase">
                <a href=#><img class="cover-image rounded" href="/" src="/images/cover_01_medium.jpg"
                        alt="cover-01"></a>
            </div>
            <div class="book-showcase">
                <a href=#><img class="cover-image rounded" href="/" src="/images/cover_01_medium.jpg"
                        alt="cover-01"></a>
            </div>
            <div class="book-showcase">
                <a href=#><img class="cover-image rounded" href="/" src="/images/cover_01_medium.jpg"
                        alt="cover-01"></a>
            </div>
            <div class="book-showcase">
                <a href=#><img class="cover-image rounded" href="/" src="/images/cover_01_medium.jpg"
                        alt="cover-01"></a>
            </div>
        </div>
    </div>
</body>

<script>
    $(".show_notes").click(function () {
        $(".book-notes").slideToggle();
    }); 

    $(".close_description").click(function () {
        $(".top-box").fadeToggle();
    }); 
    
</script>

</html>