body {
    background-color: #000000;
    color: #ECDBBA;
}

.top-box {
    min-height: 350px;
}



/* basics */
p {
    padding: 0px;
    margin: 0px;
}

a {
    color: #FB2576;
    text-decoration: none;
}

a:hover {
    color: #ECDBBA;
    text-decoration: none;
}

.page-title {
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    width: 100%;
    padding: 10px;
    color: #FB2576;
}

/* book showcase */
.book-showcase img {
    width: 150px;
}

.book-showcase:hover {
    animation-name: book-showcase-animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes book-showcase-animation {
    from {}

    to {
        transform: scale(1.05);
    }
}


/* form */
.form-cover img {
    height: 420px;
    width: 265px;
}

.form-cover {
    text-align: center;
    margin-bottom: 20px;
    margin-right: 32px;
}

.form-cover-inner-container {
    width: 265px;
}

.form-cover-rating {
    text-align: center;
}

/* description */
.description-cover {
    text-align: center;
    float: left;
    margin-right: 32px;
}

.description-cover img {
    width: 200px;
}

.rating {
    color: #fb2576;
    font-size: 22px;
    cursor: default;
}


.description-info p {
    display: inline;
    color: #C69749;
    padding-right: 5px;
    font-size: 14px;
}

.description-summary {
    padding-top: 12px;
    padding-bottom: 4px;
}

/* top box general  */
.top-box-nav {
    display: flex;
    border-bottom: 1px #FAF0E6 solid;
    padding-bottom: 5px;
}

.top-box-nav a {
    font-size: 20px;
    font-weight: 600;
    margin-right: 30px;
}

/* book notes */
.book-notes {
    padding-top: 20px;
}

/* image picker */
.image-picker:hover {
    cursor: pointer;
}

/* rating slider in the form */
.form-control:focus::placeholder {
    color: #ecdbba7e !important;
}

.rating-slider {
    background-color: #000;
    --size: 36px;
    --mask: conic-gradient(from -18deg at 61% 34.5%, #0000 108deg, #000 0) 0 / var(--size),
        conic-gradient(from 270deg at 39% 34.5%, #0000 108deg, #000 0) 0 / var(--size),
        conic-gradient(from 54deg at 68% 56%, #0000 108deg, #000 0) 0 / var(--size),
        conic-gradient(from 198deg at 32% 56%, #0000 108deg, #000 0) 0 / var(--size),
        conic-gradient(from 126deg at 50% 69%, #0000 108deg, #000 0) 0 / var(--size);
    --bg: linear-gradient(90deg, #fb2576 calc(var(--size) * var(--val)), #ddd 0);
    height: var(--size);
    width: calc(var(--size) * 5);
    border: 0;
    /* Firefox adds a default border to ranges */
    -webkit-appearance: none;
    appearance: none;

    /* Chrome and Safari */
    &::-webkit-slider-runnable-track {
        height: 100%;
        mask: var(--mask);
        mask-composite: intersect;
        background: var(--bg);
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    &::-webkit-slider-thumb {
        opacity: 0;
    }

    /* Firefox */
    &::-moz-range-track {
        height: 100%;
        mask: var(--mask);
        mask-composite: intersect;
        background: var(--bg);
        print-color-adjust: exact;
    }

    &::-moz-range-thumb {
        opacity: 0;
    }
}

/* responsivness */
@media (max-width: 600px) {
    .main-box {
        justify-content: space-evenly;
        gap: 0px 0px;
        padding-top: 20px;
        margin-bottom: 80px;
    }
}


@media (min-width: 600px) {
    .main-box {
        justify-content: flex-start;
        gap: 32px 20px;
        padding-top: 20px;
        margin-bottom: 80px;
    }
}

@media (min-width: 992px) {
    .main-box {
        justify-content: flex-start;
        gap: 32px 40px;
        padding-top: 20px;
        margin-bottom: 80px;
    }

    .form-cover {
        max-width: 265px;
    }
}

@media (min-width: 1200px) {
    .main-box {
        justify-content: flex-start;
        gap: 32px 37px;
        padding-top: 20px;
        margin-bottom: 80px;
    }
}